body{
    width: 30%;
}
.title{
    width: 200px;
    padding-top: 10px;
    font-size: 20px;
    margin: auto;
}
.buttonDiv{
    margin-left: 10px;
}
input, label{
    margin: auto;
    margin-left: 5px;
    font-size: 10px;
    float: right;
}
button{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   border-color: black;
}
button:hover{
    background-color: grey;
    color: white;
}
#removeAll:hover, #restoreAndRemove:hover{
    background-color: rgb(212, 49, 49);
    font-weight: 800;
    color: white;
}
#getTabs{
    border-color: #46b8da;
    color: #fff;
    background-color: #5bc0de;
    margin: 5px;
    margin-right: 15px;
}
table {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 10px;
    font-size: 15px;
  }
  table td, table th {
    border: 1px solid #000000;
    padding: 10px 8px;
  }

@media only screen and (max-width: 1024px){
    body{
        width: 90%;
        margin: auto;
    }
}